<!-- Authorize -->
<div class="col-lg-4 col-lg-offset-4" ng-show="!token">
	<a class="btn btn-primary btn-lg btn-block" ng-href="{{instagramAuthUrl}}">
		Authorize to Instagram
	</a>
</div>

<!-- Search -->
<div class="row m-b-large" ng-show="token">
	<div class="col-lg-4 col-lg-offset-4">
		<form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="search by tag" ng-model="searchParam">
				<span class="input-group-btn">
					<button class="btn btn-default submit" ng-click="search()">Search!</button>
				</span>
			</div>
		</form>
	</div>
</div>

<!-- History -->
<div class="col-lg-2" ng-show="history">
	<p class="m-l-small">Five last queries</p>
	<ul class="nav nav-pills nav-stacked" ng-repeat="item in history | reverse">
		<li><a ng-click="search(item)">{{item}}</a></li>
	</ul>
</div>

<!-- Images -->
<div class="col-lg-8" ng-show="token">
	<div ng-repeat="image in images">
		<div class="col-lg-3">
			<img class="img-rounded" src="{{image.images.standard_resolution.url}}" />
		</div>
	</div>
	<p ng-show="images.length==0"> No results. </p>
</div>



